{:existing [{:provisioning-ip "35.157.19.218"
             :login "ubuntu"
             :node-id "test-vm1"}
            {:provisioning-ip "18.194.113.138"
             :login "ubuntu"
             :node-id "test-vm2"}]}

 ; :aws [{:provisioning-ip "test-vm-ip"
 ;        :login "loging-test-vm"
 ;        :password "test-vm-password"
 ;        :node-id "Test-vm"
 ;        :phases [:install :configure :test]}]}
