{:context {:key-id {:password-store-single "jem/meissa/aws/key-id"}
           :key-secret {:password-store-single "jem/meissa/aws/key-secret"}
           :region "eu-central-1"
           :subnet-ids ["subnet-f929df91"]}
 :node-spec {:region "eu-central-1a"
             :ami-id "ami-82cf0aed"
             :hardware-id "t2.micro"
             :security-group-ids ["sg-0606b16e"]
             :subnet-id "subnet-f929df91"
             :provisioning-user {:login "ubuntu"
                                 :ssh-key-name "jem"}}}
